{% extends 'layout.html' %}

{% block title %}
{{title}} 
{% endblock %}

{% block content%}



{% comment "nota para el comentario" %}
    <h1>hola hola <h1>
{% endcomment %}

<h1 class="title">{{title}}</h1>

<p>{{mi_variable}}</p>

{% if nombre and nombre == 'Juan Jose' %}    
    <p>{{nombre}}</p>
{% else %}
    <p><strong>el nombre no existe o no coincide</strong></p>
{%endif%}

<p id="lol"><strong>Objetos lista</strong></p>
<div id="xd">
    <ul>
        {% for i in lenguajes%}
            <li>{{i}}</li>
        {%empty%}
            <p id="no">No hay lenguajes k mostrar</p>
        {% endfor %}
    </ul>
</div>
<p id="lol"><strong>Años bisiestos hasta el 2040</strong><p>
<div class="lista-años">
    <ul>
        {% for j in lista%}  
            <li>{{j}}</li>
        {% endfor %}    
    </ul>
</div>

{% include 'fecha-actual.html' with saludo="Hola mundo" %}

{% endblock %}

